sudo pip install numpy
sudo apt-get install python-matplotlib ipython ipython-notebook
sudo apt-get install python-pandas python-sympy python-nose
sudo pip install scipy
sudo pip install -U scikit-learn